In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import classification_report,accuracy_score

## Import Dataset

In [4]:
bank_data = pd.read_csv('Churn_Modelling.csv')

In [5]:
bank_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
bank_data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [8]:
bank_data.shape

(10000, 14)

## Check Missing Data

In [9]:
bank_data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## Encoding Categorial Data

In [10]:
bank_data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [11]:
bank_data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [12]:
label = LabelEncoder()
bank_data['Geography'] = label.fit_transform(bank_data['Geography'])
bank_data['Gender'] = label.fit_transform(bank_data['Gender'])

In [13]:
bank_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:

# apply normalization techniques
column1 = 'Balance'
bank_data[column1] = MinMaxScaler().fit_transform(np.array(bank_data[column1]).reshape(-1,1))

In [16]:
column2 = 'EstimatedSalary'
bank_data[column2] = MinMaxScaler().fit_transform(np.array(bank_data[column2]).reshape(-1,1))

In [17]:
bank_data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.000000,1,1,1,0.506735,1
1,2,15647311,Hill,608,2,0,41,1,0.334031,1,0,1,0.562709,0
2,3,15619304,Onio,502,0,0,42,8,0.636357,3,1,0,0.569654,1
3,4,15701354,Boni,699,0,0,39,1,0.000000,2,0,0,0.469120,0
4,5,15737888,Mitchell,850,2,0,43,2,0.500246,1,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,0,1,39,5,0.000000,2,1,0,0.481341,0
9996,9997,15569892,Johnstone,516,0,1,35,10,0.228657,1,1,1,0.508490,0
9997,9998,15584532,Liu,709,0,0,36,7,0.000000,1,0,1,0.210390,1
9998,9999,15682355,Sabbatini,772,1,1,42,3,0.299226,2,1,0,0.464429,1
9999,10000,15628319,Walker,792,0,0,28,4,0.518708,1,1,0,0.190914,0

## Data Visualisation

In [ ]:
sns.pairplot(data=bank_data)

In [ ]:
sns.heatmap(data=bank_data.corr())

## Model Selection

In [ ]:
bank_data = bank_data.drop(['CustomerId', 'RowNumber','Surname'],axis=1)

In [ ]:
bank_data.head()

In [ ]:
x = bank_data.drop(['Exited'],axis=1)

In [ ]:
x

In [ ]:
y = bank_data['Exited']

In [ ]:
y

## Split Train and Test

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
print(len(x_train), len(y_train))

In [ ]:
print(len(x_test), len(y_test))

## Build a Model ANN

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(units=25,activation='relu'),
    keras.layers.Dense(units=20,activation='relu'),
    keras.layers.Dense(units=1,activation='sigmoid')
])

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [ ]:
model.fit(x_train,y_train,epochs=100)

In [ ]:
model.evaluate(x_test,y_test)

## Prediction and Classification Report

In [ ]:
y_preds = model.predict(x_test)
y_preds

In [ ]:
y_pred = []
for element in y_preds:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [ ]:
y_pred[:15]

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
acc_score = accuracy_score(y_test,y_pred) * 100
acc_score

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)